*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // choose one
  font-family: "Lato", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
}

a,
button,
option,
select,
label,
input,
li {
  font-family: inherit;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  margin-bottom: 1.5em;
}

li{
  list-style: none;
}

button{
  @include btn;
}

a {
  @include link;
}
