// roboto 400 700
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
// lato 400 700
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');
// nunito 400 700 700-italic
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:ital,wght@0,400;0,700;1,700&family=Roboto:wght@400;700&display=swap');

// blue variables

$color-main-1: hsl(184, 91%, 17%);
$color-main-2: hsl(185, 84%, 25%);
$color-main-3: hsl(185, 81%, 29%);
$color-main-4: hsl(184, 77%, 34%);
$color-main-5: hsl(185, 62%, 45%);
$color-main-6: hsl(185, 57%, 50%);
$color-main-7: hsl(184, 65%, 59%);
$color-main-8: hsl(184, 80%, 74%);
$color-main-9: hsl(185, 94%, 87%);
$color-main-10: hsl(186, 100%, 94%);

// other blue

  $color-main-1: hsl(205, 86%, 17%);
  $color-main-2: hsl(205, 77%, 27%);
  $color-main-3: hsl(205, 72%, 37%);
  $color-main-4: hsl(205, 63%, 48%);
  $color-main-5: hsl(205, 78%, 60%);
  $color-main-6: hsl(205, 89%, 70%);
  $color-main-7: hsl(205, 90%, 76%);
  $color-main-8: hsl(205, 86%, 81%);
  $color-main-9: hsl(205, 90%, 88%);
  $color-main-10: hsl(205, 100%, 96%);

//   yellow

   $color-main-1: hsl(43, 86%, 17%);
   $color-main-2: hsl(43, 77%, 27%);
   $color-main-3: hsl(43, 72%, 37%);
   $color-main-4: hsl(42, 63%, 48%);
   $color-main-5: hsl(42, 78%, 60%);
   $color-main-6: hsl(43, 89%, 70%);
   $color-main-7: hsl(43, 90%, 76%);
   $color-main-8: hsl(45, 86%, 81%);
   $color-main-9: hsl(45, 90%, 88%);
   $color-main-10: hsl(45, 100%, 96%);


// black  shades
$color-black-1: #101010;
$color-black-2: #242424;
$color-black-3: #363636;
$color-black-4: #4d4f54;
$color-black-5: #656565;

$color-white: #fafaff;

$smallWidth: 576px;
$mediumWidth: 800px;
$deskopWidth: 1100px;

$max-width:1400px;